:root {
  --color-primary: #216974;
  --color-background-light: #fbf9fa;
  --color-background-dark: #0f172b;
  --color-background-dark-secondary :#1D293D;
  --font-display: Manrope, sans-serif;
  --color-bg-container-light-antd: #fff;
  --color-bg-container-dark-antd: #151F33;
  --color-border-dark: #1C283C;
  --color-border-light : #D9D9D9;
}
@theme {
  --color-primary: var(--color-primary);
  --color-background-light: var(--color-background-light);
  --color-background-dark: var(--color-background-dark);
  --font-display: var(--font-display);

  /* Border radius qiymatlari */ --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

/* Dark mode'ni class orqali faollashtirish */
@variant dark (&:where(.dark, .dark *));
